<header class="relative w-full sm:h-[85vh] bg-[url('/assets/image/banner.svg')] bg-cover bg-center no-repeat flex justify-center items-end sm:py-4 py-12 ">
    <!-- Bottom white gradient transition -->
    <div class="absolute bottom-0 left-0 w-full h-10 bg-gradient-to-t from-white to-transparent pointer-events-none"></div>

    <div data-aos="zoom-in" class="w-[80%] h-[92%] flex flex-col gap-4 items-center ">
        <h1 class="text-start text-4xl lg:text-6xl  sm:text-center text-[#FFFFFF] font-bold">Plateforme de simulation pour la construction de votre maison au pays </h1>
    
        <p class="text-[#FFFFFF]">Passez de l’idée à la réalité grâce à notre simulateur dynamique, qui vous permet de concevoir votre maison en quelques clics tout en obtenant une estimation de surface et un budget prévisionnel basés sur vos besoins réels.</p>
    
        <button routerLink="/votre-projet" class="p-2 rounded-lg text-[#FFFFFF] bg-[#BD7A36] border border-[#A26F45] cursor-pointer active:scale-90 transition-transform transition-duration-500 hover:bg-[#AB7442]" >Démarrer ma simulation</button>
    </div>
</header>