<footer class="w-full py-4 md:py-15 bg-[#F5F5F5] text-[#555A65] mt-4">
    <div class="w-[90%] mx-auto flex flex-wrap gap-4 justify-around">
        <div class="min-w-[200px] flex flex-col gap-2 flex-1">
          <div class="flex-shrink-0 flex items-center cursor-pointer group" routerLink="/">
            <img src="icon/logo.svg" class="h-12 md:h-14 w-auto drop-shadow-sm group-hover:scale-105 transition-transform" alt="Akiba Travaux Logo">
          </div>
          <p>
            Licensed Pet Business. Registered with Local Authority. License No: LICENSE-XXXX-1234 • VAT ID: XX123456789
          </p>
        </div>

        <div class="min-w-[200px] mx-auto flex flex-col justify-center md:items-center flex-1 px-4">
          <ul>
            <li><h3 class="text-[#2B2D33] font-semibold text-lg indent-[-12px]">Liens Utiles</h3></li>
            <li><a href="#" class="relative py-1 hover:text-[#AB7442] transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-[#AB7442] after:transition-all after:duration-300 hover:after:w-full">Accueil</a></li>
            <li><a href="#" class="relative py-1 hover:text-[#AB7442] transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-[#AB7442] after:transition-all after:duration-300 hover:after:w-full">Contactez-nous</a></li>
            <li><a href="#" class="relative py-1 hover:text-[#AB7442] transition-colors duration-300 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-[#AB7442] after:transition-all after:duration-300 hover:after:w-full">À propos</a></li>
          </ul>
        </div>

        <div class="min-w-[200px] mx-auto flex flex-col justify-center md:items-center flex-1 px-4">
          <ul>
            <li><h3 class="text-[#2B2D33] font-semibold text-lg indent-[-12px]">Contact</h3></li>
            <li class="relative py-1 hover:text-[#AB7442] transition-colors duration-500">01 Rue de Stockholm, 75008 PARIS</li>
            <li class="relative py-1 hover:text-[#AB7442] transition-colors duration-500">+33 09 54 89 16 21 / +33 06 60 23 25 61</li>
            <li class="relative py-1 hover:text-[#AB7442] transition-colors duration-500">contact@akiba-travaux.com</li>
          </ul>
        </div>
    </div>
</footer>