<form  action="" class="flex flex-col gap-2">
    <label for="">Nom(s)</label>
    <input type="text" class="w-full p-2 bg-[#F5F5F5] border-2 border-gray-200 rounded-lg" placeholder="Entrez votre nom(s)">

    <label for="">Prénom(s)</label>
    <input type="text" class="w-full p-2 bg-[#F5F5F5] border-2 border-gray-200 rounded-lg" placeholder="Entrez votre prénom(s)">

    <label for="">E-mail</label>
    <input type="text" class="w-full p-2 bg-[#F5F5F5] border-2 border-gray-200 rounded-lg" placeholder="Entrez votre e-mail">

    <label for="">Téléphone</label>
    <input type="text" class="w-full p-2 bg-[#F5F5F5] border-2 border-gray-200 rounded-lg" placeholder="Entrez votre téléphone">
</form>